@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  font-style: normal;
  src: local('OpenSans-Light') 
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  src: local('OpenSans-Regular') 
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: normal;
  src: local('OpenSans-SemiBold') 
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  src: local('OpenSans-Bold') 
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  font-weight: 400;
  font-style: normal;
  src: local('Ruda-Regular') 
    url('../fonts/Ruda-Regular.woff2') format('woff2'),
    url('../fonts/Ruda-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  font-weight: 600;
  font-style: normal;
  src: local('Ruda-SemiBold') 
    url('../fonts/Ruda-SemiBold.woff2') format('woff2'),
    url('../fonts/Ruda-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  font-weight: 900;
  font-style: normal;
  src: local('Ruda-Black') 
    url('../fonts/Ruda-Black.woff2') format('woff2'),
    url('../fonts/Ruda-Black.woff') format('woff');
  font-display: swap;
}