body {
  font-size: 14px;
  line-height: 1.4;
  color: $dark-500;
  font-weight: $fw-400;
  font-family: $opensans;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  transition: box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 3px $white;
    border-radius: 5px;
  }

  &:hover,
  &:active {
    opacity: 70%;
  }
}

.btn {
  padding: 12px 24px;
  line-height: 1.3;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: $white;
  background-color: $green-900;
  cursor: pointer;
  border-radius: 5px;
  font-weight: $fw-400;
  transition: box-shadow, opacity, background-color 0.3s ease-in-out;
  position: relative;
  appearance: none;
  display: inline-block;

  &:focus {
    box-shadow: 0 0 0 3px $silver-600;
  }

  &:hover {
    background-color: $green-700;
    color: $white;
  }

  &:active {
    box-shadow: inset 0 10px 0 0 rgba($black, 0.1);
  }

  &--search {
    padding: 16px 52px;
    background-color: $dark-800;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;

    &:focus {
      opacity: 1;
      box-shadow: 0 0 0 3px $silver-600;
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }

    &:active {
      color: rgba($white, 0.5);
    }
  }

  &--card {
    padding: 4px 8px;
    background-color: $green-900;
    height: 32px;
    width: 32px;
    align-items: flex-end;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  &--white {
    color: $green-900;
    background-color: $white;
    border: 1px solid;

    &:focus {
      box-shadow: 0 0 0 3px $green-900;
    }

    &:hover {
      background-color: $green-200;
      color: $green-900;
    }

    &:active {
      background-color: rgba($silver-600, 0.5);
      color: $green-700;
    }
  }

  &--cart {
    width: 100%;
    padding: 20px;
    border-radius: 0;
  }

  &--form {
    font-size: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 16px 10px;
    font-weight: $fw-400;
  }
}

.section {
  padding: 70px 0;
}

.title {
  color: $dark-900;
  font-size: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.icon {
  fill: $white;
  transition: fill 0.3s ease-in-out;
  width: 32px;
  height: 32px;

  &--favorite {
    top: 12px;
    right: 12px;
    position: absolute;
    fill: $silver-600;
    transition: fill 0.3s ease-in-out;
    z-index: 999;

    &:focus {
      fill: $silver-600;
    }

    &:hover {
      fill: $yellow-900;
    }

    &:active {
      fill: rgba($yellow-900, 0.5);
    }
  }

  &:active {
    fill: $green-200;
  }
}

.icon {
  &__address-svg {
    left: 0;
    position: absolute;
  }

  &__tel-svg {
    left: 10px;
    position: absolute;
    width: 23px;
  }
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .section {
    padding: 50px 0;
  }
}
