$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$green-900: #63A60F;
$green-700:#4D810C;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;
$black: #000000;

$opensans: 'OpenSans', 'Roboto', sans-serif;
$ruda: 'Ruda', 'Roboto', sans-serif;

$fw-300:300;
$fw-400:400;
$fw-600:600;
$fw-700:700;
$fw-900:900;

