@import "reset";
@import "fonts";
@import "vars";
@import "global";
@import "plugins";
@import "components/_header.scss";
@import "components/_filters.scss";
@import "components/_social.scss";
@import "components/_footer.scss";
@import "components/_cart.scss";
@import "components/_card-products.scss";
@import "home-main/_main-slider.scss";
@import "home-main/_benifits.scss";
@import "home-main/_best-products";
@import "components/_seasonal-sale.scss";
@import "components/event-card.scss";
@import "home-main/_discounts.scss";
@import "home-main/_partners.scss";
@import "components/_news.scss";