<aside class="cart">
  <div class="cart-top">
    <h2 class="cart__title">Корзина</h2>
    <button class="cart__text" type="button">очистить корзину</button>
    <div class="cart__close"></div>
    <div class="cart-content">
      <ul class="cart__list">
        <li class="cart__item">
          <article class="card-product">
            <div class="card-product__wrapper">
              <img class="card-product__img" src="images/gallery/1.jpg" alt="Питахайя" width="60" height="60">
              <button class="card-product__counter" type="button">
                <button class="card-product__counter--minus" data-counter></button>
                <button class="card-product__counter--plus" data-counter></button>
                <input class="card-product__counter--number" type="button" value="0" data-counter>
              </button>
              <div class="card-product__content">
                <div class="card-product__close"></div>
                <h3 class="card-product__title">
                  <a href="#">Ананас, 1 кг</a>
                </h3>
                <div class="card-product__price-wrapper">
                  <div class="card-product__price">
                    999<span class="card-product__price-currency">₽</span>
                  </div>
                  <div class="card-product__price">
                    1998<span class="card-product__price-currency">₽</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart__item">
          <article class="card-product">
            <div class="card-product__wrapper">
              <img class="card-product__img" src="images/gallery/3.jpg" alt="Питахайя" width="60" height="60">
              <button class="card-product__counter" type="button">
                <button class="card-product__counter--minus" data-counter></button>
                <button class="card-product__counter--plus" data-counter></button>
                <input class="card-product__counter--number" type="button" value="0" data-counter>
              </button>
              <div class="card-product__content">
                <div class="card-product__close"></div>
                <h3 class="card-product__title">
                  <a href="#">Питахайя красная с белой мякотью, 1шт</a>
                </h3>
                <div class="card-product__price-wrapper">
                  <div class="card-product__price">
                    1019<span class="card-product__price-currency">₽</span>
                  </div>
                  <div class="card-product__price">
                    2038<span class="card-product__price-currency">₽</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="cart-bottom">
    <p class="cart-bottom__text">Товаров на сумму</p>
    <div class="cart-bottom__price">
      2038
      <span class="cart-bottom__price-currency">₽</span>
    </div>
  </div>
  <button class="btn btn--cart">Оформить заказ</button>
  </div>
</aside>
<aside class="cart-mobile">
  <div class="cart-top">
    <h2 class="cart__title">Корзина</h2>
    <button class="cart__text" type="button">очистить корзину</button>
    <div class="cart__close cart__close-mobile"></div>
    <div class="cart-content">
      <ul class="cart__list">
        <li class="cart__item">
          <article class="card-product">
            <div class="card-product__wrapper">
              <img class="card-product__img" src="images/gallery/1.jpg" alt="Питахайя" width="60" height="60">
              <button class="card-product__counter" type="button">
                <button class="card-product__counter--minus" data-counter></button>
                <button class="card-product__counter--plus" data-counter></button>
                <input class="card-product__counter--number" type="button" value="0" data-counter>
              </button>
              <div class="card-product__content">
                <div class="card-product__close"></div>
                <h3 class="card-product__title">
                  <a href="#">Ананас, 1 кг</a>
                </h3>
                <div class="card-product__price">
                  999<span class="card-product__price-currency">₽</span>
                </div>
                <div class="card-product__price card-product__price-all">
                  1998<span class="card-product__price-currency">₽</span>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="cart__item">
          <article class="card-product">
            <div class="card-product__wrapper">
              <img class="card-product__img" src="images/gallery/3.jpg" alt="Питахайя" width="60" height="60">
              <button class="card-product__counter" type="button">
                <button class="card-product__counter--minus" data-counter></button>
                <button class="card-product__counter--plus" data-counter></button>
                <input class="card-product__counter--number" type="button" value="0" data-counter>
              </button>
              <div class="card-product__content">
                <div class="card-product__close"></div>
                <h3 class="card-product__title">
                  <a href="#">Питахайя красная с белой мякотью, 1шт</a>
                </h3>
                <div class="card-product__price-wrapper">
                  <div class="card-product__price">
                    1019<span class="card-product__price-currency">₽</span>
                  </div>
                  <div class="card-product__price card-product__price-all">
                    2038<span class="card-product__price-currency">₽</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="cart-bottom">
    <p class="cart-bottom__text">Товаров на сумму</p>
    <div class="cart-bottom__price">
      2038
      <span class="cart-bottom__price-currency">₽</span>
    </div>
  </div>
  <button class="btn btn--cart">Оформить заказ</button>
  </div>
</aside>