    <footer class="footer">
      <div class="container">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="60">
        </a>
        <div class="footer__top">
          <form class="form">
            <div class="form__submit">
              <label class="form__label" for="email">Следите за нашими акциями</label>
              <input class="form__field" name="email" placeholder="email@email.com" type="text" required id="email">
              <button class="btn btn--form" type="submit">ПОДПИСАТЬСЯ</button>
            </div>
          </form>

          <ul class="footer__about">
            <li class="footer__items">
              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">О нас</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Контакты</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Публичная оферта</a>
                </li>
              </ul>
            </li>
            <li class="footer__items">
              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">Оплата и доставка</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Вакансии</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Акции</a>
                </li>
              </ul>
            </li>
            <li class="footer__items">
              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">Отзывы</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Новости</a>
                </li>
              </ul>
            </li>
          </ul>
          <address class="footer__info">
            <a class="footer__phone" href="tel:+7907288365">Горячая линия +7 907 288 365</a>
            <p class="footer__address">Санкт-Петербург, ул. Ленина, 1</p>
            <ul class="social ">
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">фейсбук</span>
                  <svg class="icon">
                    <use xlink:href="images/spriteimages/facebook.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">ютуб</span>
                  <svg class="icon social__svg">
                    <use xlink:href="images/spriteimages/youtube.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">телеграм</span>
                  <svg class="icon social__svg">
                    <use xlink:href="images/spriteimages/telegram.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">инстаграм</span>
                  <svg class="icon social__svg">
                    <use xlink:href="images/spriteimages/instagram.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-bottom__wrapper">
            <p class="footer-bottom__text">
              © 2021 ФРЕШОК
            </p>
            <ul class="footer-bottom__list">
              <li class="footer-bottom__item">
                <span class="sr-only">visa</span>
                <a class="footer-bottom__link" href="#" style="background-image: url('images/visa.svg');"></a>
              </li>
              <li class="footer-bottom__item">
                <span class="sr-only">master-card</span>
                <a class="footer-bottom__link" href="#" style="background-image: url('images/mc.svg')"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer class="footer-mobile footer">
      <div class="footer-mobile__top">
        <div class="container">
          <a class="logo footer__logo" href="#">
            <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="60">
          </a>
          <address class="footer-mobile__info footer__info">
            <a class="footer-mobile__phone footer__phone" href="tel:+7907288365">Горячая линия +7 907 288 365</a>
            <p class="footer-mobile__address footer__address">Санкт-Петербург, ул. Ленина, 1</p>
            <ul class="social ">
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">фейсбук</span>
                  <svg class="icon">
                    <use xlink:href="images/spriteimages/facebook.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">ютуб</span>
                  <svg class="icon social__svg">
                    <use xlink:href="images/spriteimages/youtube.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">телеграм</span>
                  <svg class="icon social__svg">
                    <use xlink:href="images/spriteimages/telegram.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <span class="sr-only">инстаграм</span>
                  <svg class="icon social__svg">
                    <use xlink:href="images/spriteimages/instagram.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>

      <div class="footer-mobile__about">
        <div class="container">
          <ul class="footer-mobile__items-list">
            <li class="footer-mobile__items">
              <ul class="footer-mobile__list">
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">О нас</a>
                </li>
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Контакты</a>
                </li>
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Публичная оферта</a>
                </li>

                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Оплата и доставка</a>
                </li>
              </ul>
            </li>
            <li class="footer-mobile__items">
              <ul class="footer-mobile__list">
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Вакансии</a>
                </li>
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Акции</a>
                </li>
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Отзывы</a>
                </li>
                <li class="footer-mobile__item footer__item">
                  <a class="footer-mobile__link footer__link" href="#">Новости</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <form class="form-mobile form">
        <div class="form__submit">
          <label class="form-mobile__label form__label" for="email">Следите за нашими акциями</label>
          <input class="form-mobile__field form__field" name="email" placeholder="email@email.com" type="text" required
            id="email">
          <button class="btn btn--form" type="submit">ПОДПИСАТЬСЯ</button>
        </div>
      </form>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-bottom__wrapper footer-bottom__wrapper-mobile">
            <ul class="footer-bottom__list">
              <li class="footer-bottom__item">
                <span class="sr-only">visa</span>
                <a class="footer-bottom__link" href="#" style="background-image: url('images/visa.svg');"></a>
              </li>
              <li class="footer-bottom__item">
                <span class="sr-only">master-card</span>
                <a class="footer-bottom__link" href="#" style="background-image: url('images/mc.svg')"></a>
              </li>
            </ul>
            <p class="footer-bottom__text">
              © 2021 ФРЕШОК
            </p>
          </div>
        </div>
      </div>
    </footer>