<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="title">НАШИ НовоСТИ</h2>
      <a class="news__link-top" href="#">ВСЕ НОВОСТИ</a>
    </div>
    <ul class="news__list">
      <li class="news__item">
        <article class="news-card">
          <a href="#">
            <span class="sr-only">Новости июля</span>
            <time class="news-card__date">
              <span class="news-card__month">ИЮЛЬ</span>
              <p class="news-card__number">15</p>
            </time>
          </a>
          <a class="news-card__link" href="#">
            <span class="sr-only">распродажа сезонных фруктов</span>
            <img class="news-card__img" src="images/news/1.jpg" alt="распродажа фруктов" width="410" height="240">
            <h3 class="news-card__title">
              Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
              разобрали!
            </h3>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a href="#">
            <span class="sr-only">Новости мая</span>
            <time class="news-card__date">
              <span class="news-card__month">МАЙ</span>
              <p class="news-card__number">07</p>
            </time>
          </a>
          <a class="news-card__link" href="#">
            <span class="sr-only">Шикарнейший выбор манго</span>
            <img class="news-card__img" src="images/news/2.jpg" alt="выбор манго" width="410" height="240">
            <h3 class="news-card__title">
              Шикарнейший выбор манго в нашем онлайн-маркете
            </h3>
          </a>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a href="#">
            <span class="sr-only">Новости февраля</span>
            <time class="news-card__date">
              <span class="news-card__month">ФЕВРАЛЬ</span>
              <p class="news-card__number">20</p>
            </time>
          </a>
          <a class="news-card__link" href="#">
            <span class="sr-only">папайя</span>
            <img class="news-card__img" src="images/news/3.jpg" alt="папайя" width="410" height="240">
            <h3 class="news-card__title">
              Всё, что вы хотели знать о папайя
            </h3>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>