.card-product {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: box-shadow 0.5s ease-in;
  font-weight: $fw-600;
  color: $dark-900;
  letter-spacing: 0.05em;

  &:hover {
    box-shadow: 0 0 0 1px $green-900;
  }

  &__button-favorite {
    top: 0;
    right: 0;
    position: absolute;
    fill: $silver-600;
    transition: fill 0.3s ease-in-out;
    z-index: 999;
  }

  &__counter {
    position: relative;

    &--number {
      color: $dark-500;
      font-size: 16px;
      line-height: 1;
      font-weight: $fw-400;
      position: absolute;
      width: 36px;
      padding: 4px 0;
      bottom: 25px;
      right: 90px;
      z-index: 200;
    }

    &--plus,
    &--minus {
      background-color: $green-900;
      padding: 12px;
      position: absolute;
      bottom: 25px;
      z-index: 10;

      &::after,
      &::before {
        width: 16px;
        height: 2px;
        background-color: $white;
        content: "";
        position: absolute;
        bottom: 12px;
        border-radius: 50%;
        z-index: 999;
        right: 4px;
      }
    }

    &--plus {
      right: 66px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &::before {
        transform: rotate(90deg);
      }
    }

    &--minus {
      right: 126px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  &__content {
    padding: 0 18px 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    max-height: 101px;
  }

  &__button {
    &--favorite {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }

  &__svg {
    width: 16px;
    height: 24px;
  }

  &__price {
    color: $dark-500;
    font-weight: $fw-400;
    display: flex;
    padding-left: 3px;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__info,
  &__price {
    line-height: 1;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__price-old {
    position: relative;
    color: $silver-600;
    padding-left: 4px;

    &::after {
      content: "";
      position: absolute;
      width: 39px;
      height: 1px;
      background-color: $silver-600;
      transform: rotate(-15deg);
      bottom: 8px;
      left: 0;
    }
  }

  &__title {
    font-size: 14px;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
    @include line-clamp(3);

    &:focus {
      color: $green-900;
      text-decoration: underline;
    }

    &:hover,
    &:active {
      opacity: 40%;
      color: $green-900;
    }
  }

  .modifiers {
    position: absolute;
    top: 15px;
    left: 11px;
    letter-spacing: 0.03em;

    &__item {
      // position: absolute;
      padding: 1px 6px;
      text-transform: uppercase;
      border-radius: 5px;
      width: fit-content;
      color: $white;
      font-size: 10px;
      font-weight: $fw-700;
      font-family: $opensans;
      position: relative;

      &--new {
        background-color: $green-900;
      }

      &--popular {
        background-color: $orange-900;
      }

      &--discount {
        background-color: $red-900;
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}