.event-card {
  padding: 65px 0 70px 32px;
  z-index: 10;
  max-width: 242px;
  letter-spacing: 0;

  &--big {
    max-width: 395px;
    padding: 75px 0 60px 32px;
  }

  &__text {
    letter-spacing: 0.1em;
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: $ruda;
    font-weight: $fw-600;
    font-size: 30px;
    letter-spacing: 0.05em;
    line-height: 1.4;
    @include line-clamp(4);
  }

  &__link {
    font-size: 14px;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

    &:focus {
      box-shadow: 0 0 0 3px $green-900;
      border-radius: 5px;

      &::after {
        background-color: transparent;
      }
    }

    &:hover {
      color: $green-900;

      &::after {
        background-color: $green-900;
      }
    }

    &:active {
      color: rgba($green-700, 0.5);

      &::after {
        background-color: rgba($green-200, 0.5);
      }
    }

    &::after {
      bottom: -7px;
      content: "";
      background-color: $dark-500;
      width: 100%;
      position: absolute;
      left: 0;
      height: 2px;
    }

    &--white {
      &::after {
        background-color: $white;
        z-index: 999;
      }
    }
  }
}

@media (max-width: 670px) {
  .event-card {
    padding: 75px 20px 0 15px;
    &--big {
      padding: 75px 20px 0 15px;
      width: 100%;
    }

    &__title {
      font-size: 24px;
      padding-right: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 130px;
      letter-spacing: 0;
      font-weight: $fw-400;
      @include line-clamp(4);
    }
  }
}

@media (max-width: 374px) {
  .event-card {
    &__title {
      padding-right: 10px;
    }
  }
}
