.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity box-shadow 0.3s ease-in-out;
    display: block;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 5px;
      border-color: $green-200;
    }

    &:hover {
      opacity: 50%;
    }

    &:active {
      fill: $green-200;
    }
  }
}