.best-products {
  text-align: center;

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    margin-bottom: 48px;
  }

  &__link {
    display: none;
    animation: appearance 0.5s ease-in-out;
  }

  .card-product {
    &__img {
      margin-bottom: 5px;
      padding-top: 57px;
    }

    &__price-old {
      top: -4px;
    }
  }

  &__item {
    width: 300px;
    min-height: 409px;
    position: relative;

    &:hover {
      .card-product__link {
        z-index: 50;
        display: block;
        cursor: pointer;
        width: 298px;

        &::after {
          content: "";
          background-color: transparent;
          position: absolute;
          width: 300px;
          background-color: rgba($dark-900, 0.1);
          height: 225px;
          background-repeat: no-repeat;
          background-position: center;
          right: 0;
          top: 55px;
          z-index: 51;
          transition: background-color 0.5s ease-in;
        }
      }

      .best-products__link {
        background-color: $white;
        position: absolute;
        z-index: 999;
        left: 125px;
        top: 141px;
        border-radius: 50%;
        padding: 24px;
        display: inline;

        &::before {
          background-image: url("../images/icon-search.svg");
          content: "";
          width: 20px;
          height: 20px;
          transform: translate(-50%, -50%);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          left: 50%;
        }

        @keyframes appearance {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .best-products {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
      max-width: 960px;
      grid-gap: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  .best-products {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      max-width: 630px;
    }
  }
}

@media (max-width: 670px) {
  .best-products {
    &__item {
      &:hover {
        .card-product__link {
          width: 170px;
          &::after,
          &::before {
            display: none;
          }
        }

        .best-products__link {
          display: none;
        }
      }
    }

    &__list {
      grid-gap: 5px;
      max-width: 345px;
    }

    &__item {
      max-width: 170px;
      min-height: 344px;

      &--small {
        min-height: 304px;
      }
    }

    .card-product {
      min-height: 344px;

      &--small {
        min-height: 304px;
      }

      &__title {
        padding: 0 6px;
      }

      &__content {
        padding: 0 6px 0 6px;
        max-height: 133px;

        &--small {
          max-height: 93px;
        }
      }

      &__img {
        width: 170px;
        height: 177px;
        margin-bottom: 0;
      }

      .modifiers {
        top: 13px;
      }

      &__counter {
        &--number,
        &--minus,
        &--plus {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .best-products {
    &__list {
      max-width: 290px;
    }

    .container {
      padding: 0 5px;
    }

    &__item {
      max-width: 150px;
      min-height: 344px;

      &--small {
        min-height: 304px;
      }
    }

    .card-product {
      min-height: 344px;

      .card-product__link {
        width: 150px;
      }

      &--small {
        min-height: 304px;
      }

      &__title {
        padding: 0 6px;
      }

      &__content {
        padding: 0 6px 0 6px;
        max-height: 133px;

        &--small {
          max-height: 93px;
        }
      }

      &__img {
        width: 170px;
        height: 177px;
        margin-bottom: 0;
      }

      .modifiers {
        top: 13px;
      }

      &__counter {
        &--number,
        &--minus,
        &--plus {
          display: none;
        }
      }
    }
  }
}
